.grid-container {
  display: grid;
  border: 3px solid red;
  height: 700px;
  width: 700px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cell {
  border: solid 1px blue;
  text-align: center;
  vertical-align: middle;
  font-size: 100px;
}
